* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #FFF;
}


section.max-width {
    max-width: 1440px;
    margin-inline: auto;
}


$bg-color: #0063A4;
$aside: 100vh;
$width: 100%;
$align: center;
$text: #FFF;


@mixin col($w, $h, $items, $display, $direction, $content, ) {
    width: $w;
    height: $h;
    align-items: $items;
    display: $display;
    direction: $direction;
    justify-content: $content;
}


// Navbar

.navbar {
    @include col (100%, 10vh, center, flex, row, space-around);
    color: $text;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
    background: $bg-color;
}


.mob{
    display: none;
}


.nav-btn {
    height: 30px;
    width: 100px;
    color: $text;
    border: none;
    outline: none;
    margin-right: 20px;
    border-radius: 20px;
    background: #FF0B80;
}


// Section

.section {
    padding-top: 20px;
    background: $bg-color;
    @include col(100%, null, center, flex, row, space-around);
}


.learn {
    gap: 10px;
    @include col(100%, null, center, flex, row, space-around)
}


.learn input {
    width: 270px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 13px;
    margin-top: 10px;
    padding-inline: 10px;
}


.section div h2 {
    font-size: 45px;
    color: $text;
    width: 300px;
}


.search-icon {
    height: 40px;
    width: 50px;
    margin-top: 10px;
    place-self: center;
    background: #FF0B80;
}


.search-icon img {
    height: 15px;
    margin-top: 12px;
    margin-left: 15px;
}


.kid-img {
    height: 350px;
}


// Card

.card {
    gap: 50px;
    color: $text;
    padding: 10px;
    text-align: center;
    background: #FF0B80;
    @include col(null, null, center, flex, row, space-around);
}


.card h2 {
    font-size: 30px;
}


// Banner

.banner {
    @include col(null, null, center, null, null, center);
    text-align: center;
}


.banner div h1 {
    margin-top: 30px
}


.texts {
    @include col(null, null, center, flex, column, space-around);
}


.banner div div p {
    width: 400px;
}


.ban-imgs {
    height: 350px;
    margin-top: 40px;
}


.ban-img {
    height: 270px;
}


.header {
    padding-top: 10px;
}


// Svgbanner

.svgbanner {
    @include col(100%, null, center, flex, column, center);
    background: #00A17F;
    margin-top: 50px;
}


.tutorial {
    @include col(null, null, center, null, column, center);
    text-align: center;
    justify-content: space-around;
}


.tutorial-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin-left: 50px;
}


.tutorial-header {
    text-align: center;
    // padding: 10px;
}

.tutorial-header h3 {
    margin: 20px 0 10px 0;
    color: $text;
}


.svg-div img {
    height: 450px;
}


.svg-div {
    height: 430px;
    width: 800px;
    background: $text;
    margin-top: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}


.include {
    text-align: center;
    margin-top: 40px;
}


// Layout

.layout {
    justify-content: center;
    align-items: center;
}


.reviews {
    @include col(null, null, center, flex, column, center);
    gap: 30px;
    margin-top: 50px;
    margin-left: 40px;
}


.reviews-img4 {
    height: 300px;
}


.reveiews-texts {
    width: 400px;
    justify-content: center;
    text-align: center;
}


.reveiews-texts h4,
p {
    width: 400px;
}


.reveiews-texts h4 {
    padding: 10px;
}


// Testimonials
.testinonials {
    margin-top: 100px;
    align-items: center;
    background: #FF0B80;
}


.testinonials h3 {
    color: $text;
    text-align: center;
    padding-top: 40px;
}


.testimony {
    @include col(null, null, center, flex, row, space-evenly);
    gap: 30px;
}


.testimony-img {
    padding-right: 100px;
}


.testinonials div div img {
    height: 500px;
}


.testimony-text {
    color: $text;
}


.doe {
    color: $text;
    padding: 10px;
}

.borders {
    display: flex;
    gap: 25px;
    margin-top: 40px;
    justify-content: center;
}

.black {
    height: 5px;
    width: 42px;
    border: solid black;
    border-radius: 50px;
}


.white {
    height: 5px;
    width: 40px;
    border: solid white;
}


// App

.app {
    @include col(null, null, center, flex, row, space-between);
    padding-top: 30px;
    background: #FCBA4D;
}


.app-div {
    padding-bottom: 70px;
}


.app-img {
    height: 300px;
}


// Footer

.footer {
    display: flex;
    justify-content: space-between;
    background: #0063A4;
    padding-inline: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.links div {
    width: 200px;
}


.faq {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.socials {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.social-icons {
    display: flex;
    gap: 10px;
}


.social-icons img {
    height: 20px;
}


.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}


.footer-end {
    background: #00426D;
    padding-block: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    color: $text;
}


.junior {
    position: absolute;
    bottom: 30px;
    right: 200px;
    border: solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #FF0B80;
}


.junior img {
    height: 90px;
}


.ask {
    position: absolute;
    top: 30px;
    left: 90px;
    width: 100px;
    height: 20px;
    background: #FF0B80;
    border-radius: 10px;
    color: $text;
    font-size: 12px;
}






@media screen and(max-width: 700px){
    .mob{
        display: none;
    }
}

